body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#gameboard {
    width: 70px;
    height: 60px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    width: 10px;
    height: 10px;
    background-color: white;
    border: solid 1px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 5px solid red;
    box-sizing: border-box;
}

.black {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 5px solid black;
    box-sizing: border-box;
    }

