body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#gameboard {
    width: 700px;
    height: 700px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 50px solid red;
    box-sizing: border-box;
}

.black {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 50px solid black;
    box-sizing: border-box;
    }

.square:nth-child(-n+7) {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border: dotted 2px green;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*  reset and drag buttons*/

.buttons-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    padding-top: 25px;
}

#reset {
    height: 3rem;
    width: 5rem;
}

.drag-red {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 50px solid red;
    box-sizing: border-box;
}

.drag-black {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 50px solid black;
    box-sizing: border-box;
}
