* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo {
    width: 50px;
    height: 50px;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    margin-right: 1rem;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header nav ul li a:hover {
    color: red;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border: #000 solid 1px;
}

.welcome-text {
    width: 40%;
    margin-top: 3rem;
    max-width: 40vw;
}

.welcome-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.welcome-text p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 25vw;
}

#banner {
    width: 100%;
    z-index: -1;
    max-height: 33vw;
    object-fit: cover;
}

.main-content {
    padding: 1rem;
    top: 50%;
    overflow: hidden;
    /* border: black solid 1px; */
}

.main-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: #000 solid 1px;
    background-color: rgb(147, 146, 174);
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 50%;
    margin-right: 50%;
    text-wrap: none;
    text-align: center;
    color: #fff;
}

.main-content h2 a {
    color: #000;
    text-decoration: none;
}

.main-content h2 a:hover {
    color: red;
}

.footer {
    background-color: grey;
}