body {
    display: flex;
    justify-content: center;
    aligh-items: center;    
    flex-direction: column;
    height: 100vh;
    background-color: #0D1282;
}

#gameboard {
    background-color: #EEEDED;
    height: 700px;
    width:700px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    flex-direction: row;
    margin: 10px;;
}

.red {
    background-color: #D71313;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
}

.black {
    background-color: black;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
}

