.grid {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(9, 100px);
    justify-content: center;
}

.cell {
    border: 1px solid blue;
    background-color: grey;
    text-align: center;
    font-size: 72px;
}
/* 
.cell:hover {
    background-color: white;
}

.cell:active {
    background-color: yellow;
} */