/*game board styling*/
.grid {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(9, 100px);
    justify-content: center;
}

.cell {
    border: 1px solid red;
    background-color: white;
    text-align: center;
    font-size: 72px;
}

.cell:hover {
    background-color: red;
}

.cell:active {
    background-color: white;
}

/*buttons*/

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#solve-button, #reset-button {
    color: green;
    border: none;
    padding: 10px 30px;
    margin: 20px;
    font-size:26px;
    border: 5px solid green;
    border-radius: 50%;
}

#solve-button:hover {
    background-color: lightgreen;
}

#solve-button:active {
    background-color: rgb(0, 255, 0);
}

#reset-button:hover {
    background-color: pink;
}

#reset-button:active {
    background-color: rgb(135, 0, 0);
}



/*numpad*/ 
.numpad {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
}

.numpad-btn {
    border: 1px solid white;
    background-color: aqua;
    text-align: center;
    font-size: 72px;
}

.numpad-btn:hover {
    background-color: rgba(45, 245, 0, 0.98);
}

.numpad-btn:active {
    background-color: white;
}

/*input box masking*/

input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 50%;
    width: 100px;
    height: 100px;
    padding-left: 40%;
}