* {
    padding: 0;
    margin: 0;
}

#topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

/* Need to fix contact me alignment for topnav */

.heromain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.heronav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-image: linear-gradient(to bottom, #000000,  #747474);
}

.icon {
    max-height: 60px;
    max-width: 60px;
}



/* This section is the styling for the photo grid */
.container {
max-width: 1170px;
width: 90%;
margin: auto;
padding: 20px 0;
} 

.title {
    margin: 2rem;
    text-align: right;
}

.portfolio-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
}

@media(max-width:768px){
    .portfolio-gallery {
        flex-direction: column;
    }
}
/* end of photo grid styling */

