* {
    padding: 0;
    margin: 0;
}

#topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#topnav a {
    margin-right: 15px;
  }
  
  #topnav button {
    background-color: rgb(205, 41, 0);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 5%;
  }
  


/* Need to fix contact me alignment for topnav */

.heromain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.heronav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-image: linear-gradient(to bottom, #000000,  #747474);
}

.icon {
    max-height: 60px;
    max-width: 60px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.herophoto {
    width: 50%;
}

.herotext {
    width: 50%;
    text-align: right;
}

.herotext h2 {
    font-size: 40px;
}

.herotext h1 {
    font-weight: bold;
    font-size: 60px;
}

/* This section is the styling for the photo grid */
.container {
    max-width: 1170px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border: 1px solid black;
    height: min-content;
} 

.myportfolio {
    border: 1px solid red;
    height: auto;
}

.title {
    margin: 2rem;
    text-align: right;
}

.portfolio-gallery {
    display: flex;
    gap: 20px;
    max-width: 1170px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    height: auto;
}

.column {
    display: flex;
    flex-direction: column;
}


.photo img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

@media(max-width:768px){
    .portfolio-gallery {
        flex-direction: column;
    }
}
/* end of photo grid styling */
.services {
    margin-top: 80px;
  }
  
